venv   
venv2
venv3
secu    
secu_13b
securitys
securitys_13b
transs
bitsandbytes-0.45.3
isekai_yui_dataset.jsonl
isekai_yui_large_dataset.csv
한국어_단발성_대화_데이터셋.xlsx
memo_utf8.jsonl
memo.jsonl
.log
.jsonl
.csv